/*

quiz-app-viewport
    quiz-app-header
    quiz-app-main
    app-main-footer



*/

* {
    font-family: "Raleway", "Lucida Sans Unicode", "bitstream vera sans", "trebuchet ms", verdana;
}

/* main viewport */
#quiz-app-viewport {
    background-color: #ffffff;
}

#quiz-app-header {
    background-color: #f6f6f6;
    border-bottom: #C8C7CC 2px solid;
    font-family: "Raleway";
}

#quiz-app-main {
    background-color: #ffffff;
    background: url(../../gxt/images/bg/asean-bg.png) no-repeat right top;
}

#quiz-app-footer {
    background-color: #f6f6f6;
    border-top: #C8C7CC 2px solid;
}

.quiz-question {
    font-size: 24px;
}

#quiz-question-statement {
    font-size: 30px;
}

#quiz-clock {
    font-size: 30px;
    font-weight: bold;
    font-family: "Raleway";
    color: #C8C7CC;
}

/* custom button */
.quiz-nav-button {
    font-size: 18px;
    font-weight: bold;
    font-family: "Raleway";
    color : #ffffff;
    background-color: #007AFF;
}

.quiz-nav-button .x-btn-tl, .quiz-nav-button .x-btn-tr, .quiz-nav-button .x-btn-tc,
.quiz-nav-button .x-btn-ml, .quiz-nav-button .x-btn-mr, .quiz-nav-button .x-btn-mc,
.quiz-nav-button .x-btn-bl, .quiz-nav-button .x-btn-br, .quiz-nav-button .x-btn-bc {
    background-image: url(../../gxt/images/button/quiz-nav-btn.gif) !important;
}



