/*

quiz-app-viewport
    quiz-app-header
    quiz-app-main
    app-main-footer



*/

* {
    font-family: "Raleway", "Lucida Sans Unicode", "bitstream vera sans", "trebuchet ms", verdana;
}

/* main viewport */
#quiz-app-viewport {
    background-color: #ffffff;
}

#quiz-app-header {
    background-color: #f6f6f6;
    border-bottom: #C8C7CC 2px solid;
    font-family: "Raleway";
}

#quiz-app-main {
    background-color: #ffffff;
    background: url(../../gxt/images/bg/asean-bg.png) no-repeat right top;
}

#quiz-app-footer {
    background-color: #f6f6f6;
    border-top: #C8C7CC 2px solid;
}

.quiz-question {
    font-size: 24px;
}

#quiz-question-statement {
    font-size: 30px;
}

.quiz-question-choice  > input[type="radio"] {
    width: 2em;
    height: 2em;
    vertical-align: middle;
}

.quiz-question-choice  > label {
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
}

#quiz-clock {
    font-size: 28px;
    font-weight: bold;
    font-family: "Raleway", serif;
    padding-left: 30px;
    color: #000000;
    background: url(../../gxt/images/bg/alarm-clock.png) no-repeat left center;

}

#quiz-counter {
    font-size: 28px;
    font-weight: bold;
    font-family: "Raleway", serif;
    padding-left: 30px;
    color: #000000;
    background: url(../../gxt/images/bg/preview.png) no-repeat left center;
}

/* custom button */
.quiz-nav-button .x-btn-text {
    font-size: 18px;
    font-weight: bold;
    font-family: "Raleway, serif";
    color: #ffffff;
    background-color: #007AFF;
}

.quiz-nav-button .x-btn-tl, .quiz-nav-button .x-btn-tr, .quiz-nav-button .x-btn-tc,
.quiz-nav-button .x-btn-ml, .quiz-nav-button .x-btn-mr, .quiz-nav-button .x-btn-mc,
.quiz-nav-button .x-btn-bl, .quiz-nav-button .x-btn-br, .quiz-nav-button .x-btn-bc {
    background-image: url(../../gxt/images/button/quiz-nav-btn.gif) !important;
}



